export REPOSITORY_DIR="$(pwd)"
export DBT_PROFILES_DIR="$(pwd)/.dbt"
export DBT_TABLE_RESOURCE_S3_BUCKET="nijigen-plot-dbt-tables"
export QUERY_OUTPUT_S3_BUCKET="nijipro-query-results"
export DATA_PIPELINE_RESOURCE_S3_BUCKET="nijipro-dbt-resources"
export AWS_PROFILE_NAME="dbt-local"
export SLACK_WEBHOOK_URL_SECRETS_NAME="secretmanager-read-slack-webhook-url"
export CLOUDFORMATION_POLICY_NAME="cfn-nijipro-dbt-resources-create"
export CLOUDFORMATION_ROLE_NAME="cloudformation-dbt-athena-community-resources-service-role"
export LOCAL_DEV_ASSUME_ROLE_BEARER_USER_NAME="Quark"
export LOCAL_DEV_ROLE_NAME="LocalDevelopmentAssumeRole"
